/* .navlinks li{
    display: inline-block;
    padding: 15px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.outernavbars{
    padding: 8px;
    background: white;
    /* position: absolute;
    z-index: 3; 
}*/
.logo{
    width: 35%;
}
.btnouter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlinks li:hover{
    border-bottom: 3px solid #01CB89;
}
.btn{
    padding: 10px 20px 10px 20px;
    background: #01CB89;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
}
.btn:hover{
    color: #1B9C85;
    font-weight: 600;
    background: transparent;
    border: 1px solid  #01CB89;
}
@media  only screen and (max-width:700px) {
    .navlinks
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */