.testimonialcontent{
    background: #FFFFFF;
    padding: 60px;
    text-align: center;
}
.testimonialheading{
    text-align: center;
    background: transparent;
    padding: 20px 10px 40px 10px;
}
.testimonialheading h5{
    display: inline;
    border-bottom:2px solid #01CB89;
    font-size: 20px;
    padding-bottom: 1px;
    font-weight: 600;
}
.testimonialheading h2{
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #1B9C85;
}
.slider-container{
    border-radius: 8px;
    background: #1B9C85;
    padding: 20px;
}
.spliderbox .user{
    font-size: 15px;
    margin-bottom: 30px;
}
.spliderbox img{
    border-radius: 50%;
}
.spliderbox{
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.splide{
    width:100%;
}
@media screen and (max-width: 500px) {
    .slider-container{
        background: #1B9C85;
        padding: 20px;
    }
    .spliderbox img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .testimonialcontent{
        background: #FFFFFF;
        padding: 20px 20px 60px 20px;
        text-align: center;
    }
}